@import '../../assets/scss/common/base';
.sidebar {
    height: 400px;
    background-color: $blue;
    @include shadow;
}

.main-panel {
    height: 600px;
    background-color: $light-blue;
    @include shadow;
    margin-bottom: 45px;
}

.collection {
    height: 800px;
    background-color: $coral;
    @include shadow;
    margin-bottom: 45px;
}