
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <p>
          This can be some header object
        </p>      
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <p>
          Dashboard Text Box
        </p>
      </div>
      <div class="col-md-3 col-md-offset-1">
        <p>
          Dashboard Text box
        </p>
      </div>
      <div class="col-md-3 col-md-offset-1">
        <p>
          Dashboard Text box
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <p>
          This can be some other message crap
        </p>
      </div>
    </div>
  </div>
</div> 