<div class="container-fluid">
    <div class="row">
        <div class="col-md-1 col-md-offset-1 sidebar">
            <h2>Side Nav</h2>
        </div>
        <div class="col-md-6 col-md-offset-1">
            <div class="row">
                <div class="col-md-12 main-panel">
                    <h2>Infographic</h2>
                </div>
                <div class="col-md-12 collection">
                    <h2>My Collection</h2>
                </div>
            </div>
        </div>
    </div>
</div>